
@media only screen and (max-width: 1895px) {
  .wonGames {
      margin-left: 1%;
  }

  .playedGames {
    margin-left:1%;
}

.drawGames {
   margin-left: 1%;
}

.lostGames {
     margin-left: 1%;
}

.totalGoals {
    margin-left: 1%;
}

.totalGoals2 {
 margin-left: 1%;
}

.points {
  margin-left: 1%;
}
}

@media only screen and (max-width: 1650px) {

.teamInfoBox img {
    display:none;
}

.playerInfo  {
    margin:0;
    margin-top:10%;
    margin-left:2%;
}
}

@media only screen and (max-width: 1630px) {
     .playerInfo {
       /*font-size: 30px;*/
       margin-top:0;
    }

    .teamInfoBox {
        height:auto;
    }

  /*
   h1 {
        font-size: 30px !important;
    }

    img {
        width: 125px !important;
        height: 150px !important;
    }


     .teamInfoBox img {
         display: none;
     }
     */

.teamInfoBox {
   min-height: 300px;
}

.moreInfo {
        margin-top: 100px;
}
/*
    .infoNumber {
        font-size: 30px !important;
    }
*/
    .card {
        height: 50px !important;
        width: 50px !important;
        margin:0 !important;
    }

   p {
       font-size: 10%;
   }


}

/*

@media only screen and (max-width: 1430px) {


    #adminForm {
        padding-left:3%;
    }

    .title {
        float:left;
    }

}

@media only screen and (max-width: 1160px) {
  #popUp p
   {
      font-size: 10px;
      margin-left:6%;
  }

}

@media only screen and (max-width: 1160px) {
  #popUp p
   {
      font-size: 10px;
      margin-left:6%;
  }

}
*/
