
@media only screen and (max-width: 1895px) {
  .wonGames {
      margin-left: 1%;
}

  .playedGames {
    margin-left:1%;
}

.drawGames {
   margin-left: 1%;
}

.lostGames {
     margin-left: 1%;
}

.totalGoals {
    margin-left: 1%;
}

.totalGoals2 {
 margin-left: 1%;
}

.points {
  margin-left: 1%;
}
}

@media only screen and (max-width: 1650px) {

/*
.teamInfoBox img {
    display:none;
}
*/

.playerInfo  {
    margin:0;
    margin-top:10%;
    margin-left:2%;
}
}

@media only screen and (max-width: 1630px) {
.playerInfo {
   margin-top:0;
}

.teamInfoBox {
    height:auto;
}

.teamInfoBox {
   min-height: 300px;
}

.moreInfo {
        margin-top: 100px;
}
.card {
    height: 50px;
    width: 50px;
    margin:0;
}

p {
   font-size: 10%;
}
}
