@import 'responsiveCSS.css';

.formBox {
    background-color: gray;
    margin-top:5%;
    padding: 1%;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}




h1 {
     font-size: 30px;
}
#logOutButton {
     position:fixed;
    right: 2%;
    top:2%;
}

.adminInputNumberField {
max-width: 60px;
}    

.goalScorerDiv {
    display: none;
}

.wrongDoerDiv {
    display: none;
}

#popUp3 {
    display: none;
}




body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-attachment: fixed;
}

.title {
    margin-top: 50px;
    margin-right: 4%;
    float:left;
    font-weight: bold;
}

