@import 'responsiveCSS.css';

body {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
}

.playerbutton {
    display:none;
   margin-top:4%;

}



.playerList {
    display:none;
}




#logInButton, #logOutButton, .playerbutton, .backButton {
    position:fixed;
    right: 2%;
    top:2%;
}

.cards {
 margin-top:2%;
}


.backButton {
   margin-top:40px;
}

#header1 {
    text-align: center;
    font-size: 8vw;
    border-bottom: 40px;
}

#popUp {
    background-color: gray;
    height: 20vw;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top:5vw;
    border: black 2px solid;
    background: rgba(128,128,128,0.5);
    border-radius: 15px 15px 15px 15px;
}

#popUp2 {
    background-color: gray;
    height: 10vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    border: black 2px solid;
    border-bottom: 0px;
    background: rgba(128,128,128,0.5);
    border-radius: 15px 15px 0px 0px;
}

#popUp3 {
     position:absolute;
     display:block;
    top: 90px;
    left: 40%;
    background-color:grey;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

#popUpGames {
    position:absolute;
    top: 90px;
    left: 40%;
    background-color:grey;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

.teamInfo{
    padding-left: 100px;
}

#deleteInput {
    max-width:60px;
    margin-bottom: 5%;
}

#deleteButton {
    margin-top: -7.4%;
    float:left;
}

#B,#C,#D,#E,#F,#G {
    font-size: 7vw;
    float:left;
    margin-left: 3vw;
    margin-right: 3vw;
}

#A {
  font-size: 7vw;
  float:left;
  margin-left: 7vw;
  margin-right: 3vw;
}
#H {
  font-size: 7vw;
  float:left;
  margin-left: 3vw;
  margin-right: 6vw;
}

#A:hover,#B:hover,#C:hover,#D:hover,#E:hover,#F:hover,#G:hover,#H:hover {
   background-color: gray;
    background: rgba(255,255,255, 0.4);
    cursor: pointer;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

#popUpWrapper {
    margin-top:10%;
}

#teamInfoBoxWrapperA, #teamInfoBoxWrapperB, #teamInfoBoxWrapperC, #teamInfoBoxWrapperD, #teamInfoBoxWrapperE, #teamInfoBoxWrapperF, #teamInfoBoxWrapperG, #teamInfoBoxWrapperH {
     display:none;
}

.teamInfoBox {
    background-color: gray;
    margin-top:5%;
    padding: 1%;
    padding-left: 3vw;
    padding-right: 2vw;
    height: 30vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}
#wrapperOfPlayers1, #wrapperOfPlayers2, #wrapperOfPlayers3, #wrapperOfPlayers4, #wrapperOfPlayers5, #wrapperOfPlayers6, #wrapperOfPlayers7, #wrapperOfPlayers8 {
    display:none;
}

.player {
  display: none;
}

.adminInputNumberField {
max-width: 60px;

}
.goalScorerDiv {
display: none;

}

.adminForm {
    background-color: lightblue;
}

h1 {
     float:left;
     margin-bottom: 10px;
}

h2 {
     font-weight: bold;
}


.title {
    margin:0 auto;
    margin-top: 20px;
    float: left;
    font-weight: bold;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.title>h1 {
    font-size: 2vw;
    margin-right: auto;
}

.teamName {
    font-size: 2.5vw;
}

.infoNumber {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -5%
}

.infoPlayers {
    text-align: center;
    float:left;
    margin-top: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    line-height: 20px;
    width: 14vw;
    padding-left: 1vw;
    padding-right: 1vw;
    white-space: nowrap;
}

.infoPlayersMini {
    width: 6vw;
}

.infoTitle {
    font-size: 25px;
}

.info {
  font-size: 25px;
}

.playerBox {
  height: 700px;
}

#logIn {
    position:absolute;
    width: 600px;
    height: 400px;
    background-color:grey;
    margin-left: 35%;
    margin-top: -7%;
    display: none;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

#adminHeader {
    font-size: 32px;
}

.playersAdminform {
    display: none;
}

.cancel {
    float:right;
    margin-top: -7.4%;
}

#adminForm2, #adminForm1 {
    display: none;
}

.adminForm {
    background-color: gray;
    padding: 5%;
    padding-left:14%;
    width: 50%;
    min-height:600px;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}

.wrongDoerDiv {
    display: none;
}

.addFormItem {
     margin-left: auto;
    margin-right: auto;
}

.formButton {
    width:60%;
}

.moreInfo>h1 {
    font-size: 1.65vw;
    margin:0 auto;
    margin-right: 45vw;
    float:right;
}

.moreInfo {
      margin:0 auto;
      margin-top:11vw;
      text-align: center;
}

.moreInfo:hover {
    cursor: pointer;
}

#pvm {
    max-width: 300px;
}

.gameList {
    margin-top: 20px;
}


.gameListGame {
    background-color: gray;
    padding: 5%;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}

#gameButton {
    float:right;
}

#popUp4 {
   position:absolute;
    top: 90px;
    left: 40%;
    background-color:grey;
    display: none;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

#poistaPeliNappi {
    float:right;
}

#poistaNappi2 {
    float:left;
}

#peruutaNappi2 {
    float:right;
}

.imgsize {
  width:auto;
  height:9vw;
  padding:8px;
}


@media only screen and (max-width: 950px) {
.infoTitle {
  font-size: 17px;
}
.info {
  font-size: 17px;
}
.moreInfo {
      margin:0 auto;
      margin-top:15vw;
      text-align: center;
}
.title {
  margin-right: 0;
  margin-top: 5vw;
}
.title>h1 {
    margin: 0;
    padding: 0;
}
}

@media only screen and (max-width: 600px) {
.infoTitle {
  font-size: 12px;
}
.info {
  font-size: 12px;
}

}
