@import 'responsiveCSS.css';

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-attachment: fixed;
}



#logInButton, #logOutButton, .playerbutton, .backButton {
    position:fixed;
    right: 2%;
    top:2%;
}

.cards {
 margin-top:2%;
}

.playerbutton {
   margin-top:4%;
}

.backButton {
   margin-top:4%;
}

#header1 {
    text-align: center;
    font-size:60px;
}

#popUp {
    background-color: gray;
    padding-left:5%;
    height: 180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
    border: black 2px solid;
    border-top: 1px;
    background: rgba(128,128,128,0.5);
    border-radius: 15px 50px 30px;
}

#popUp2 {
    background-color: gray;
    height: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    border-bottom: 0px;
    background: rgba(128,128,128,0.5);
    border-radius: 15px 50px 30px;
}

#popUp3 {
     position:absolute;
    top: 90px;
    left: 40%;
    background-color:grey;
    display: none;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

.teamInfo{
    padding-left: 100px;
}

#deleteInput {
    max-width:60px;
    margin-bottom: 5%;
}

#deleteButton {
    margin-top: -7.4%;
    float:left;
}

#A,#B,#C,#D,#E,#F,#G,#H {
    font-size: 120px;
    float:left;
    margin-left:7%;
}

#A:hover,#B:hover,#C:hover,#D:hover,#E:hover,#F:hover,#G:hover,#H:hover {
   background-color: gray;
    background: rgba(255,255,255, 0.4);
    cursor: pointer;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

#popUpWrapper {
    margin-top:10%;
}

#teamInfoBoxWrapperA, #teamInfoBoxWrapperB, #teamInfoBoxWrapperC, #teamInfoBoxWrapperD, #teamInfoBoxWrapperE, #teamInfoBoxWrapperF, #teamInfoBoxWrapperG, #teamInfoBoxWrapperH {
     display: none;
}

#playerInfoWrapperBasel {
    display: none;
}






.teamInfoBox {
    background-color: gray;
    margin-top:5%;
    padding: 1%;
    padding-left:100px;
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}

#wrapperOfPlayers {
    display: none;
}

#playerInfoWrapperManchester {
    display: none;
}

.adminInputNumberField {
max-width: 60px;

}
.goalScorerDiv {
display: none;

}

h1 {
     font-size: 30px;
     text-decoration: underline;
}

h2 {
     text-decoration: underline;
     font-weight: bold;
}

.title {
    margin-top: 50px;
    margin-right: 4%;
    float:left;
    font-weight: bold;
}

.infoNumber {
    font-size:50px;
    font-weight: bold;
    text-align: center;
}




#logIn {
    position:absolute;
    width: 600px;
    height: 400px;
    background-color:grey;
    margin-left: 35%;
    margin-top: -7%;
    display: none;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

#adminHeader {
    font-size: 32px;
}

.cancel {
    float:right;
    margin-top: -7.4%;
}

.adminForm {
    background-color: gray;
    padding: 5%;
    padding-left:18%;
    width: 50%;
    min-height:600px;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 20px;
}



.addFormItem {
     margin-left: auto;
    margin-right: auto;
}

.formButton {
    width:60%;
}

.moreInfo {
      margin:0;
      margin-top:375px;
      margin-left: 39%;
      max-width: 160px;
}



.moreInfo:hover {
    cursor: pointer;
}

#pvm {
    max-width: 300px;
}

.gameList {
    margin-top: 20px;
}

#ListOfGames {
    display:none;
}

.gameListGame {
    background-color: gray;
    padding: 5%;
    width: 50%;
    min-height:600px;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    background: rgba(128,128,128,0.6);
    border-radius: 15px 50px 30px;
    font-size: 32px;
}

#gameButton {
    float:right;
}

#popUp4 {
   position:absolute;
    top: 90px;
    left: 40%;
    background-color:grey;
    display: none;
    padding: 5%;
    padding-top: 3%;
    border: black 2px solid;
    background: rgba(128,128,128,0.8);
    border-radius: 15px 50px 30px;
    position: fixed;
}

#poistaPeliNappi {
    float:right;
}

#poistaNappi2 {
    float:left;
}

#peruutaNappi2 {
    float:right;
}

.imgsize {
  width:auto;
  height:100px;
}
